extends layout.pug
mixin card(classified)
	.card.border-dark(style="max-width: 12rem;")
		.card-header.bg-light.text-center
			a(href="/classified/" + classified.c_id)
				button(class="btn",style="font-size:25px").text-primary.card-title=classified.title
		if classified.picture
			img.card-img-bottom(src='data:image/jpg;base64,' + classified.picture, alt="Card image")
block content

	.container
		.row
			.col-lg-3
				.list-group
					a.list-group-item.active(href='#') Category 1
					a.list-group-item(href='#') Category 2
					a.list-group-item(href='#') Category 3
			.col-sm-8
				each row,idx in classifieds
					.row.mb-4
						.card-deck
							each classified in row
								+card(classified)
		.row
			nav.mx-auto(aria-label='Page navigation example')
				ul.pagination
					if +page - 1 > 0
						li.page-item
							a.page-link(href=`/list/${+page - 1}`, aria-label='Previous')
								span(aria-hidden='true') «
								span.sr-only Previous
					if +page - 10 > 0
						li.page-item
							a.page-link(href=`/list/${+page - 10}`)="..."
					if +page - 3 > 0
						li.page-item
							a.page-link(href=`/list/${+page - 3}`)=+page - 3
					if +page - 2 > 0
						li.page-item
							a.page-link(href=`/list/${+page - 2}`)=+page - 2
					if +page - 1 > 0
						li.page-item
							a.page-link(href=`/list/${+page - 1}`)=+page - 1
					li.page-item.active
						a.page-link(href=`/list/${+page}`)=+page
					if +page + 1 <= +maxPage
						li.page-item
							a.page-link(href=`/list/${+page + 1}`)=+page + 1
					if +page + 2 < +maxPage
						li.page-item
							a.page-link(href=`/list/${+page + 2}`)=+page + 2
					if +page + 3 < +maxPage
						li.page-item
							a.page-link(href=`/list/${+page + 3}`)=+page + 3
					if + page + 10 < +maxPage
						li.page-item
							a.page-link(href=`/list/${+page + 10}`)="..."	
					if +page + 1 <= +maxPage
						li.page-item
							a.page-link(href=`/list/${+page + 1}`, aria-label='Next')
								span(aria-hidden='true') »
								span.sr-only Next
						li.page-item
							a.page-link(href=`/list/${+maxPage}`)=maxPage	

