extends layout.pug
mixin card(classified)
	.card.border-dark(style="max-width: 12rem;")
		.card-header.bg-light.text-center
			a(href="/classified/" + classified.entity_id)
				button(class="btn",style="font-size:25px").text-primary.card-title=classified.title
		.card-body
			p.card-text=classified.description
		if classified.picture
			img.card-img-bottom(src='data:image/jpg;base64,' + classified.picture, alt="Card image")
block content

	.container
		.row
			.col-lg-3
				.list-group
					a.list-group-item(class=(type == 'transport' ? 'active' : ''), href='/list/transport/1') Transport
					a.list-group-item(class=(type == 'stock' ? 'active' : ''), href='/list/stock/1') Stocks
					a.list-group-item(class=(type == 'other' ? 'active' : ''), href='/list/other/1') Other
			.col-sm-8
				each row,idx in classifieds
					.row.mb-4
						.card-deck
							each classified in row
								+card(classified)
		.row
			nav.mx-auto(aria-label='Page navigation example')
				ul.pagination
					each numb in pages
						if numb == 0
							li.page-item.active
								a.page-link(href=`/list/${type}/${page}`)=+page
						if numb < 0 && +page + (+numb) > 0
							li.page-item
								a.page-link(href=`/list/${type}/${+page + numb}`)= (numb <= -10 ? '...': +page + numb)
						if numb > 0 && +page + (+numb) < maxPage
							li.page-item
								a.page-link(href=`/list/${type}/${+page + numb}`)= (numb >= 10 ? '...': +page + numb)
					if maxPage > 1
						li.page-item
							a.page-link(href=`/list/${type}/${+maxPage}`)=maxPage	

