extends layout.pug
block content
	.container
		h1="Select an classfied for promotion: "
		form#form.md-form(style="color: #757575;", method="POST", action="/promo")
			.list-group
				each c in classifieds
					.list-group-item=c.title
						input#form-check-input(name=c.entity_id type="checkbox" style="float:right")
						
			label(for="datepicker") Period:
			input#datepicker.md-form(type="text", name="date" style="margin-top: 5%")
			button.btn.btn-outline-success.btn-rounded.btn-block.my-4.waves-effect.z-depth-0(type="submit") Promote
			button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0(type="button", onclick="calculate()") Calculate
		if error
			.alert.alert-danger(role='alert')=error
		#errmsg.alert.alert-danger(role='alert', style="display:none")
		#success.alert.alert-primary(role='alert', style="display:none")
		h1="Currently promoted classifieds: "
		.list-group
			table.table
				thead
					tr
						th(scope="col") Classified
						th(scope="col") Until
						th(scope="col") Status
				tbody
					each c in promoted_classifieds
						tr
							td
								a(href=`/classified/${c.entity_id}`)=c.title
							td=c.end_date
							td(bgcolor=c.status=='authorized' ? '#00FF00' : '#FFFF33')=c.status
		script(src="/js/promotion.js")

		h3="The promotion period starts when the transactaion is completed!"