extends layout.pug
block content
	.container
		h1 You have pending shipments for the following classifieds:
		table.table
			thead
				tr
					th(scope="col") Classified
					th(scope="col") Transaction Id
					th(scope="col") Quantity
					th(scope="col") Total amount
					th(scope="col") Ship:
			tbody
				each c in classifieds
					tr
						td
							a(href=`/classified/${c.entity_id}`)=c.title
						td=c.transaction_id
						td=c.quantity
						td=c.amount
						td
							button.shipment.btn.btn-success(type="button", value=c.transaction_id) Ship
			#errmsg.alert.alert-danger(role='alert', style="display:none")
			#success.alert.alert-primary(role='alert', style="display:none")
	script(src="/js/shipment.js")
